$white-background: rgb(255, 255, 255);

#root {
  position: relative;
  background-color: rgb(173, 176, 183);
  display: flex;
  justify-content: center;
  // A reminder that setting a height here means the parent wont extend down to child when overflow
  @media screen and (min-width: 550px) {
    display: grid;
    grid-template-columns: 1fr 2fr;
  }
}