$white-background: rgb(255, 255, 255);

#root {
  position: relative;
  background-color:rgb(200 202 208);
  display: flex;
  justify-content: center;
  // MOBILE --> Desktop
  // A reminder to NOT SET A HEIGHT here, setting a height here means the parent wont extend down to child when overflow
  @media screen and (min-width: 750px) {
    display: grid;
    grid-template-columns: 1fr 2fr;
  }
}