@import "./mixins.scss";

$purple-filter-background: invert(31%) sepia(37%) saturate(1946%) hue-rotate(232deg) brightness(96%) contrast(82%);
$blueish-filter-background: invert(28%) sepia(70%) saturate(2269%) hue-rotate(242deg) brightness(85%) contrast(116%);

.form-container {
	.list-container {
		margin-top: 5px;
		display: flex;
		flex-wrap: wrap;
		gap: 8px;
		.details {
			display: flex;
			justify-content: space-between;
			align-items: center;
			gap: 2px;
			padding: 3px 5px;
			border: 2px solid transparent;
			border-radius: 10px;
			background: linear-gradient(white, white) padding-box, linear-gradient(to right, rgb(42, 42, 201), darkorchid) border-box;
			div:not(.sub-header) {
				@include customScrollBars($custom: true);
				overflow: auto;
				max-height: 70px;
			}
			.sub-header {
				padding: 5px 0;
				text-align: center;
				border-bottom: 2px double rgb(93, 98, 194);
				margin-bottom: 5px;
			}
			&.additional-info-details {
				background: linear-gradient(white, white) padding-box, linear-gradient(to right, rgb(238, 192, 87), rgb(205, 142, 238)) border-box;
			}
			.closeBtn {
				display: flex;
				align-items: center;
				cursor: pointer;
				border: none;
				background-color: $white-background;
				padding: 0;
				img {
					height: 20px;
					width: 20px;
					filter: $purple-filter-background; 
				}
			}
			&.additional-info-details {
				.closeBtn {
					img {
						filter: $blueish-filter-background; 
					}
				}
			}
		}
	}
}

.error {
	text-align: center;
	font-weight: 700;
	color: rgb(214, 95, 95);
	&.alert {
		animation: shake 0.3s ease-in-out;
	}
}

@keyframes shake {
	0% {
		transform: translateX(0);
	}
	25% {
		transform: translateX(-10px);
	}
	50% {
		transform: translateX(10px);
	}
	75% {
		transform: translateX(-10px);
	}
	100% {
		transform: translateX(0);
	}
}

.shake-animation {
	animation: shake 0.5s ease-in-out;
}
