.customization-container {
   display: flex;
   justify-content: center;
   gap: 10px;
   margin: -5px;
   button  {
      padding: 5px 10px;
      border: 2.5px solid rgb(142, 142, 142);
      border-radius: 10px;
      transition: all .5s ease-in-out;
      &:active {
         transform: translateY(5px);
      }
      &.reset-btn {
         border: 2.5px solid rgb(213, 86, 86);
         background-color: rgb(213, 86, 86);
         color: white;
      }
   }
}
