@import "./customScrollbar.scss";
@import "./disableDate.scss";
@import "./cardsContainer.scss"; // this file also includes the mixins
@import "./skillsContainer.scss";
@import "./bannerOpt.scss";
@import "./addBulletContainer.scss";
@import "./customization.scss";
@import "./mainIcon.scss";
@import "./fonts.scss";

.main-forms-container {
	@include customScrollBars;
	position: absolute;
	top: 0;
	left: 0;
	display: flex;
	flex-direction: column;
	gap: 20px;
	width: 80vw;
	height: 100vh;
	z-index: 1;
	background-color: #f3f4f6;
	padding: 1rem;
	min-height: 100vh;
	transition: all 0.5s ease-in-out;
	overflow-y: auto;
	overscroll-behavior: contain;
	box-shadow: 1px 1px 10px 0px rgb(163, 161, 161);
	.title {
		text-align: center;
		font-size: 2.2rem;
		font-family: "Agbalumo", sans-serif;
		// font-family: 'Libre Baskerville', sans-serif;
		// background: linear-gradient(to right, #f32170,
		// #ff6b08, #cf23cf, #eedd44);
		// background: linear-gradient(to right, #CA4246, #E16541, #F18F43, #8B9862, #476098, );
		// background: linear-gradient(to right, #dc3755, #e96e17, #f3b713, #59a90e, #208bd2);
		background: linear-gradient(to right, #dc3755, #208bd2);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
	}
	/* Hides the 'preview' btn for smaller screens */
	&.hidden {
		overflow: hidden;
		width: 0;
		padding: 0;
		.title{
			white-space: nowrap; // I want better closing transition so I nowrap so the closing main-form doesn't look awkward
		}
	}
	.form-container {
		border-radius: 10px;
		padding: 10px 15px 10px;
		background-color: $white-background;
		font-family: "CustomFont";
		transition: all 1s ease-in-out;
		box-shadow: 2px 2px 8px 1px rgb(213, 213, 213);
		// When container is active, all hidden child component will now show
		&.active {
			form,
			.opt-container,
			.main-skill-container {
				height: auto;
			}
		}
		h1 {
			font-size: clamp(1rem, 2vw, 1.5rem);
		}
		.head {
			display: flex;
			justify-content: space-between;
			align-items: center;
			.left-container{
				display: flex;
				align-items: center;
				gap: 10px;
				.header-icon{
					height: 30px;
					width: 30px;
				}
				h1{
					margin-top: 3px;
				}
			}
		}
		form {
			height: 0;
			overflow: hidden;
			display: flex;
			flex-direction: column;
			gap: 3px;
			div {
				display: flex;
				flex-direction: column;
				gap: 5px;
				label:not(.toggle-container label) {
					@include label();
				}
				input:not(input[type="checkbox"]) {
					@include input();
					&::placeholder {
						color: rgb(123, 123, 123);
					}
					@media screen and (min-width: 750px) {
						padding: 10px;
					}
				}
			}
			.button-container {
				button[type="submit"] {
					@include button();
					border: 2px solid rgb(202, 224, 229);
					background-color: #dee0e3;
					&:hover {
						border: 2px solid rgb(53, 132, 174);
						background-color: #8abcd7;
						color: $white-background;
						text-shadow: 1px 1px 5px rgb(90, 115, 170);
					}
				}
				button[type="button"] {
					@include button();
					border: 2px solid rgb(229, 202, 202);
					background-color: #e3dede;
					&:hover {
						border: 2px solid rgb(174, 53, 53);
						background-color: #dfa79c;
						color: $white-background;
						text-shadow: 1px 1px 5px rgb(196, 64, 64);
					}
				}
				@media screen and (min-width: 750px) {
					flex-direction: row;
					gap: 20px;
				}
			}
			@media screen and (min-width: 750px) {
				gap: 10px;
				margin: 0;
			}
		}
	}
	// MOBILE --> Desktop
	@media screen and (min-width: 750px) {
		grid-column: 1 / 2;
		position: relative;
		background-color: rgb(242, 242, 243);
		width: auto;
		padding: 1.7rem;
		/* Ignores the hidden set by the 'preview' btn for bigger screens so we don't hide the left side's inputs */
		&.hidden {
			overflow: auto;
			width: auto;
			padding: 1.7rem;
			.title{
				white-space: wrap;
			}
		}
	}
	@media screen and (min-width: 1000px) {
		padding: 2.5rem;
		padding-top: 2rem;
		.title {
			font-size: 2.5rem;
		}
	}
}
